.searchFilterBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
  margin-top: 3em;
}

.searchBar {
  width: 60%;
}

.insideSearchBar {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 5px;
}

.filterTab {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}
