
.wrapper {
  width: 100%;
  padding-left: 3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
}

.icon {
  font-size: 20px;
}

.header-title {
  font-family: sans-serif;
  font-size: 1.3em;
}

.header-options {
  padding-right: 2em;
}
